/* reset code and common starts here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --primary-color: #31304d;
  --secodary-color: #b6bbc4;
  --text-color: #161a30;
  --bg-light: #f0ece5;
  --padding: 0.5rem;
  --transition: all 0.2s;
  --border-radius: 0.6rem;
  --box-shadow: 0.1rem 0.2rem 0.8rem rgba(255, 202, 202, 0.5);
}

/* reset code and common ends here */

/* nav start here */
nav {
  font-family: fantasy;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-upper {
  background-color: var(--primary-color);
  min-height: 8vh;
  padding: var(--padding);
}

.nav-lower {
  background-color: var(--secodary-color);
  min-height: 8vh;
  padding: var(--padding);
}

.nav__list {
  transition: var(--transition);
}

.nav__list:hover {
  text-decoration: overline;
}

.nav-upper .nav__link {
  color: var(--bg-light);
  transition: var(--transition);
}

.nav-upper .nav__link:hover {
  color: black;
}

.profile-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: white 1px solid;
  /* for black and white */
  filter: saturate(0);
}

.profile-icon:hover {
  /* when some body hover it; will be as its original color */
  filter: saturate(1);
}
/* nav ends here */
