/* reset code and common starts here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --primary-color: #31304d;
  --secodary-color: #b6bbc4;
  --text-color: #161a30;
  --bg-light: #f0ece5;
  --padding: 0.5rem;
  --transition: all 0.2s;
  --border-radius: 0.6rem;
  --box-shadow: 0.1rem 0.2rem 0.8rem rgba(255, 202, 202, 0.5);
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* reset code and common ends here */

/* nav start here */
#menu-icon {
  display: none;
}

nav {
  font-family: roboto;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-upper {
  background-color: var(--primary-color);
  min-height: 8vh;
  padding: var(--padding);
}

.nav-lower {
  background-color: var(--secodary-color);
  min-height: 8vh;
  padding: var(--padding);
  font-weight: bolder;
}

.nav__list {
  transition: var(--transition);
}

.nav__list:hover {
  text-decoration: overline;
}

.nav-upper .nav__link {
  color: var(--secodary-color);
  transition: var(--transition);
}

.nav-upper .nav__link:hover {
  color: var(--bg-light);
}

.profile-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: white 1px solid;
  /* for black and white */
  filter: saturate(0);
}

.profile-icon:hover {
  /* when some body hover it; will be as its original color */
  filter: saturate(1);
}

.nav__brand {
  font-size: 1.8rem;
}

/* nav ends here */

/* footer starts here */
.footer {
  background-color: var(--primary-color);
  padding: 25px 0;
  color: var(--secodary-color);
}

.footer input {
  background-color: var(--bg-light);
  margin-left: 5px;
}
/* footer ends here */

/* responsiveness code starts here */
@media (max-width: 992px) {
  #menu-icon {
    display: block;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .flex-space-around {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
}
